body{

    /* bet you cant guess what this does */
    background-color: pink;

}

/* for the calendar table */
table {

    border-collapse: collapse;
    background-color:rgb(253, 231, 247);
    color: black;
}

.date-btn {

    background-color: rgb(253, 231, 247);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;

}